# Binaries for programs and plugins
main
algoV
*.exe
*.exe~
*.so
*.dylib
*.dll
algoV
binary_search_tree/binary_search_tree
hash_table/hash_table
linked_list/linked_list
queue/queue
stack/stack
trie/trie
